<div class="media page" id="media">
  <div class="container">
    <h1>Media</h1>
    <h2>Listen and enjoy these album song. It contains audio from mp3, Soundcould, and Spotify. Let's play!</h2>
    <div class="toggle-buttons">
      <span class="left media-button active" data-toggle="audio-list">Audio</span>
      <span class="right media-button" data-toggle="video-list">Video</span>
    </div>
    <div class="media-list">

      <!-- Audio list -->
      <ul class="audio-list">
        <% audios.forEach((audio, index) => { %>
          <% const className = index === 0 ? 'active' : '' %>
          <li class="<%= className %>">
            <div class="wrapper" data-title="<%= audio.title %>" data-url="<%= audio.url %>">
              <div class="play-pause">
                <i class="far fa-play-circle"></i>
              </div>
              <div class="info">
                <h2>
                  <%= audio.title %>
                </h2>
                <h3>Jon Anderson</h3>
              </div>
              <div class="action">
                <button>Share This</button>
              </div>
            </div>
            <hr>
          </li>
        <% }) %>
      </ul>

      <!-- Video list -->
      <ul class="video-list hide">
        <% videos.forEach((video, index) => { %>
          <li class="video">
            <iframe width="240" height="135" src="<%= `https://www.youtube.com/embed/${video.url}?rel=0` %>" allowFullScreen>
            </iframe>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>